@import "~antd/dist/antd.less";
@import 'antd-custom.less';

.header-button {
  display: inline-block;
  line-height: 64px;
  padding: 0 16px;
  vertical-align: middle;
  color: @text-color;
  font-size: 16px;
  transition: all .3s;
}

.header-button:hover {
  background-color: #f5f5f5;
}

.header-button .anticon {
  font-size: 20px;
}

.text-notice {
  line-height: 24px;
  margin: 0;
  color: @text-color-secondary;
  font-size: 12px;
}

.text-pre {
  white-space: pre-wrap;
  word-break: break-all;
}
